In [40]:
import pandas as pd
import keras 
import seaborn as sns

In [41]:
data=sns.load_dataset("titanic")

In [42]:
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [43]:
data["alive"].unique()

array(['no', 'yes'], dtype=object)

In [44]:
data.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [45]:
data.dropna(inplace=True)

In [46]:
data.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

In [47]:
#label encoder is used to convert the data into numbers
from sklearn.preprocessing import LabelEncoder
#call the label encoder
label=LabelEncoder()

In [48]:
data["sex"]=label.fit_transform(data["sex"])

In [49]:
data["class"]=label.fit_transform(data["class"])
data["who"]=label.fit_transform(data["who"])
data["adult_male"]=label.fit_transform(data["adult_male"])
data["deck"]=label.fit_transform(data["deck"])
data["embark_town"]=label.fit_transform(data["embark_town"])
data["alone"]=label.fit_transform(data["alone"])
data["embarked"]=label.fit_transform(data["embarked"])

In [50]:
#selecting ur x--features,y--target table
x=data.drop(["alive"],axis=1)
y=data["alive"]

In [51]:
data.dropna(inplace=True)#removing null values

In [52]:
data.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

In [53]:
from sklearn.preprocessing import StandardScaler
std=StandardScaler()#used for bringing the values from mean scale
x_transform=std.fit_transform(x)

In [54]:
from sklearn.model_selection import train_test_split

In [55]:
x_train,x_test,y_train,y_test=train_test_split(x_transform,y,test_size=0.2)

In [56]:
#importing algorithem
from sklearn.linear_model import LogisticRegression

In [57]:
model=LogisticRegression()#model calling

In [58]:
#fitting the x_train,y_train
model.fit(x_train,y_train)

LogisticRegression()

In [59]:
#model prediction
prediction=model.predict(x_test)

In [60]:
#finding accuracy
from sklearn.metrics import classification_report,confusion_matrix
print( classification_report(prediction,y_test))# accuracy how many times give correct prediction
print(confusion_matrix(prediction,y_test))#error count

              precision    recall  f1-score   support

          no       1.00      1.00      1.00         7
         yes       1.00      1.00      1.00        30

    accuracy                           1.00        37
   macro avg       1.00      1.00      1.00        37
weighted avg       1.00      1.00      1.00        37

[[ 7  0]
 [ 0 30]]